# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# JetBrains
.idea/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Temporary files
*.tmp

# Backup files
*.bak

# Generated PDFs
*.pdf

# Generated PPTs
*.pptx